.mask{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: #000;
    opacity: 0.4;
}
.mask+img{    
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    position: fixed;
}