.toaster {
    position: fixed;
    top: 10px;
    right: 0;
    min-width: 300px;
    line-height: green;
    color: white;
    border-radius: 5px;
    padding: 5px;
    animation: toasterAnim 1s timing-function delay iteration-count direction fill-mode;
}

@keyframes toasterAnim {
    0% {
        right: -300px;
    }

    25% {
        right: -150px;
    }

    50% {
        right: 0px;
    }

    75% {
        right: 150px;
    }

    100% {
        right: 0;
    }
}